/* Navbar styles */
.navbar {
  background: #4fb291;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 50px;
}

.navbar a:hover {
  color: #f1c40f;
}

/* Main container */
.Main {
  background: linear-gradient(to right, #243f56, #4fb291);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 20px 20px; /* Adjusted for fixed navbar */
  min-height: 84vh;
}

/* Box container styles */
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}

.box {
  width: 300px;
  height: 220px;
  padding: 20px;
  background: #fff;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.box h2 {
  color: #243f56;
  font-size: 22px;
  font-weight: bold;
}


/* Responsive Design */
@media (max-width: 1024px) {
  .box-container {
      flex-wrap: wrap;
      gap: 15px;
  }
}

@media (max-width: 768px) {
  .box-container {
      flex-direction: column;
      align-items: center;
  }

  .box {
      width: 300px;
      height: 200px;
  }
}

@media (max-width: 480px) {
  .box {
      width: 250px;
      height: 180px;
  }
}

@keyframes boxCustomIn {
  0% {
      opacity: 0;
      transform: translateY(300px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}